<button class="button" routerLink="/home">Back to Movies</button>

<div>
    <div class="header">
        <h2 class="title">{{movie.title}}</h2>
    </div>
    <br>
    <img src="{{movie.posterUrl}}"/>
    <p><strong>Year:</strong> {{movie.year}}</p>
    <br>
    <p><strong>Plot:</strong> {{movie.plot}}</p>
    <br>
    <p><strong>Runtime:</strong> {{movie.runtime}} minutes</p>
    <br>
    <p><strong>Genre(s):</strong> {{movie.genres}}</p>
    <br>
    <p><strong>Director:</strong> {{movie.director}}</p>
</div>
